body {
    background: #f7be26;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.nav-item {
    list-style-type: none;
}

.home {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    max-width: 1300px;
    font-size: 30px;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}
